<!-- Navigation -->
<nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="mainNav">
    <div class="container">

        <!-- LOGO -->
        <!-- <a class="navbar-brand js-scroll-trigger text-expanded" href="#page-top">Meal Prepper</a> -->

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active px-lg-4">
                    <a class="nav-link js-scroll-trigger" href="/">Home</a>
                </li>
                <li class="nav-item active px-lg-4">
                    <a class="nav-link js-scroll-trigger" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active px-lg-4">
                    <a class="nav-link js-scroll-trigger" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="section" id="section1">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <div class="container" id="search-container">
                <h2 id="recipesSearch">Search our recipes </h2>
                <br>
                <div class="row mt-4 justify-conent-center">
                    <div class="col-12">
                        <div class="form-group">
                            <form action="/api/search" class="form-group mx-auto" style="width: 400px;">
                                <div>
                                    <input type="seach" class="form-control" name="term" id="recipes2"
                                        aria-describedby="recipesSearch" placeholder="Search our recipes">
                                    <button class="btn btn-danger btn-md" id="search">Search</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Results Container -->
<section id="posts" class="container">
    <h1>All Recipes</h1>

    {{#each posts}}
      <div class="posts">
      <h3>{{name}}</h3>
      <p>{{ingredients}}</p>
      <p>{{instructions}}</p>
     
    </div>
    {{else}}
      <p>No recipes available</p>
    {{/each}}
    
  </section>


<footer class="h-10"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
{{!-- <script src="../controllers/search.js" type="text/javascript"></script> --}}