<div id="signup-page" style="background-image: url("../images/wood.jpg")">
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark" id="mainNav">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand text-black js-scroll-trigger text-expanded" href="/"> Back</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5" style="border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;">
                    <div class="card-img-left d-none d-md-flex">
                    </div>
                    <div class="card-body mt-3 mb-3">
                        <h5 class="card-title text-center">Sign up</h5>
                        <form class="form-signin">

                            <div class="form-label-group">
                                <input type="email" id="emailSign_up" class="form-control" placeholder="Email address"
                                    required>
                                <label for="emailSign_up">Email address</label>
                            </div>

                            <hr>

                            <div class="form-label-group">
                                <input type="password" id="passwordSign_up" class="form-control" placeholder="Password"
                                    required>
                                <label for="passwordSign_up">Password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                id="signUpBtn">Register</button>
                            <a class="d-block text-center mt-2 small" href="/login">Already a member? Login</a>
                            <a class="d-block text-center mt-2 small" href="/guest">Sign in as Guest</a>
                            <hr class="my-4">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

