<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 b-g-image"></div>
        <div class="col-md-8 col-lg-6">

            {{!-- Back to home button --}}
            <div class="container">
                <a class="navbar-brand js-scroll-trigger text-expanded" href="/"> Back</a>
            </div>

            <div class="login d-flex align-items-center py-5">
                <div class="container card-signin">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4">Become a Member</h3>
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <div class="form-label-group">
                                        <input type="email" id="emailSign_up" class="form-control"
                                            placeholder="Email address" required>
                                        <label for="emailSign_up">Email address</label>
                                    </div>
                                    <hr>
                                    <div class="form-label-group">
                                        <input type="password" id="passwordSign_up" class="form-control"
                                            placeholder="Password" required>
                                        <label for="passwordSign_up">Password</label>
                                    </div>
                                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit"
                                        id="signUpBtn">Register</button>
                                    <a class="d-block text-center mt-2 small" href="/login">Already a member? Login</a>
                                    <a class="d-block text-center mt-2 small" href="/guest">Sign in as Guest</a>
                                    <hr class="my-4">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>