#section0,
#section1,
#section2,
#section3,
#section4,
#section5{
    background-size: cover;
}

#section0 {
    background-image: url("../images/salad.png");
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#section1 {
    background-image: url("../images/food.png");
    background-position: center;
    height: 70vh;
}

#section2 {
    background-image: url("../images/cut.png");
    background-position: center;
    height: 100vh;
}

#section3 {
    background-image: url("../images/cut.png");
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#section4 {
    background-image: url("../images/cut.png");
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#section5 {
    background-image: url("../images/cut.png");
    background-position: center;
    text-align: center;
    height: 100vh;
}

h1 {
    text-align: left;
    color: White;
    font-family: 'Raleway', sans-serif;
    font-size: 140px;
    font-weight: bold;
    margin-top: 10%;
}
.name {
    text-align: left;
    color: White;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 90px;
    font-weight: bold;
    margin-top: 15%;
}
.intro {
    text-align: left;
}
h2 {
    text-align: center;
    color: White;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    
}

h3 {
    text-align: center;
  
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
}

#pg2 {
    color: White;
    font-family: 'Raleway', sans-serif;
    font-size: 65px;
}

#recipesSearch {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-right: 5rem;
}
#recipesAdd {
    font-size: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
#and {
    font-size: 50px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    margin-left: 5rem;
}
#search-container {
    margin-top: 5rem;
}
.welcome {
    margin-left: 30%;
    margin-top: 8rem;
    font-size: 80px;
    text-shadow: 2px 2px 4px #000000;
}
#search-title {
    text-shadow: 2px 2px 4px #000000;
}
#fav{
    color: rgb(7, 7, 7);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 100px;
}
#addCard {
    width: 90%;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    /* margin-top: 2rem; */
}
/* #add-container {
    margin-top: 5rem;
 } */
#results-card {
    width: 100%;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.fas {
    color: aliceblue;
}

.input-box {
width: 50%;
/* border-radius: 1rem; */
box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

#add-btn {
    font-size: 80%;
    /* border-radius: 5rem; */
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    /* transition: all 0.2s; */
    float: right;
    margin-right: 15%;
}